.box {
 background-color: rgb(110, 107, 107);
 border-color: black;
 border: 8%;
 width: 20%;
 height: 20vh;
 margin-left: 185px;
 border: 2px solid black;
display: inline-block;
 margin-right: 20px;
}


img {
 width: 20%;
 display: block;
 margin: 0 auto;
}

.text {
 display: block;
margin: 0 auto;
text-align: center;
}

.container {
 background-color: rgb(110, 107, 107);
 border-color: black;
 border: 8%;
 width: 18%;
 height: 18vh;
 margin-left: 400px;
 border: 2px solid black;
display: inline-block;
 margin-right: 20px;
}